.activities {
  @include display(inline-block);
  vertical-align: top;
}

.activities__item {
  @include display(inline-block);
  background-color: #f4f4f4;
  margin-right: remCalc(10px);
  padding: remCalc(5px);
  &:last-child {
    margin-right: remCalc(0px);
  }
  p {
    text-transform: uppercase;
    color: $text-lighter;
    font-size: $font-small;
    position: relative;
    &:before, &:after {
      content: "";
      background-color: $color-dark;
      position: absolute;
    }
    &:before {
      width: 100%;
      height: remCalc(1px);

      top: remCalc(-5px);
    }
    &:after {
      height: remCalc(10px);
      width: remCalc(10px);
      bottom: remCalc(-20px);
      border-radius: 50%;
      left: 50%;
      margin-left: remCalc(-5px);
    }
  }
}
