.activities {
  @include display(inline-flex);
  width: 80%;
  height: remCalc(230px);
}
.activities__items {
  @include display(inline-flex);
  width: 85%;
}
.activities__item-container,
.activities__container {
  @include display(flex);
  width: 100%;
  flex-direction: row;
}
.activities__item__asked p.commented,
.activities__item p.commented,
.activities__item__rest p.commented {
  &:before, &:after {
    background-color: $text-lighter;
  }
}
.activities__item__asked p,
.activities__item p,
.activities__item__rest p {
  text-transform: uppercase;
  font-size: $font-small;
  position: absolute;
  color: $text-lighter;
  bottom: remCalc(0px);
  left: remCalc(0px);
  width: 100%;
  &:before, &:after {
    content: "";
    position: absolute;
    background-color: $color-dark;
  }
  &:before {
    width: 80%;
    height: remCalc(1px);
    left: 10%;
    top: remCalc(-8px);
  }
  &:after {
    height: remCalc(10px);
    width: remCalc(10px);
    bottom: remCalc(-20px);
    border-radius: 50%;
    left: 50%;
    margin-left: remCalc(-5px);
    bottom: remCalc(-15px);
  }
}
.activities__item__rest {
  width: 25%;
  height: 100%;
  position: relative;
  p {
    text-transform: lowercase;
    color: $color-dark;
    &:before {
      display: none;
    }
  }
  span {
    display: inline-block;
    margin-top: remCalc(50px);
    font-size: $font-bigger;
  }
}

.activities__item__asked {
  width: 20%;
  background-color: $main-blue;
  vertical-align: top;
  position: relative;
  height: 100%;
  max-width: remCalc(145px);
  p {
    color: $text-lighter;
  }
}
.activities__item__asked p:before {
  background-color: $text-lighter;
}
.activities__item__asked p:after {
  display: none;
}
.activities__item {
  background-color: #f4f4f4;
  margin-left: remCalc(10px);
  margin-top: remCalc(30px);
  padding: remCalc(5px);
  width: 25%;
  max-width: remCalc(140px);
  height: 83%;
  position: relative;

}

@media all and (max-width: 992px) {
  .activities {
    width: 80%;
  }
  .activities__item__asked,
  .activities__item__rest {
    width: 50%;
  }
  .activities__item {
    width: 100%;
  }
}

@media all and (max-width: 640px) {
  .activities__item__asked {
    display: none;
  }
  .activities__items {
    width: 50%;
  }
  .activities__item__asked,
  .activities__item__rest {
    width: 50%;
  }
  .activities__item:first-child {
    margin-left: remCalc(0px);
  }
}
