.activities__item-container
  .activities__item__asked.center
    %p.center asked
  .activities__item__rest.center(ng-if="$ctrl.activities.length>$ctrl.limitTo")
    %span {{$ctrl.activities.length - $ctrl.limitTo}}
    %p.center
      more
      %br
      activities
  .activities__items
    .activities__item.center(ng-repeat="activity in $ctrl.activities | limitTo: $ctrl.limitTo")
      .avatar
        %img(ng-src="{{activity.user.avatar}}")
      %p.center(class="{{activity.type}}") {{activity.type}}
