.search {
  width: 100%;
  button {
    width: 19%;
    margin-left: 1%;
    background-color: $color-light;
    box-shadow: none;
    text-transform: uppercase;
    border: 2px solid $text-lighter;
    height: remCalc(35px);
  }
}
.search-container {
  @include display(flex);
  margin-top: remCalc(20px);
}
.search__input {
  border: 2px solid $text-lighter;
  width: 80%;
  height: remCalc(35px);
  background-color: #f4f4f4;
  padding: remCalc(5px);
  &:focus {
    outline: none;
  }
  &:hover, &:focus {
    border: 2px solid $main-blue;
  }
}
