.questions-list-page.single-question {
  .questions__item__header {
    width: 100%;
  }

  .questions-list-item {
    padding-bottom: remCalc(0px);
  }
}
.questions__item__header__title {
  padding-left: remCalc(20px);
}
.single-question .questions-list-page-item-header {
  padding: remCalc(0px);
}
.questions-list-item-button {
  position: absolute;
  background-color: $color-light;
  border: 1px solid $light-border;
  padding: remCalc(5px) remCalc(15px);
  font-size: $font-bigger;
  bottom: remCalc(-17px);
  left: 50%;
  width: remCalc(240px);
  margin-left: remCalc(-120px);
  span {
    text-transform: uppercase;
  }
}
.question-container {
  @include display(flex);
  width: 100%;
  min-height: remCalc(150px);
}


@media all and (max-width: 640px) {
  .question-container {
    display: block;
    padding-bottom: remCalc(20px);
  }
}
