.questions-list-page.single-question
  .questions-list-page__item__header
    %a(ng-href="/") back
    %h2.main-header.text-inlineb QUESTION
    .float-right
    .questions
      .questions-list-item
        %question-header(question="ctrl.question")
        %question-content(question="ctrl.question")
        %button.questions-list-item-button
          %span Give&nbsp;
          new answer

hello
