.questions-list-page-item-header
  .questions-list-page-item-header-container
    %a.link-back(ng-href="/")
    %h2.main-header.text-inlineb QUESTION
.questions-list-page.single-question
  .questions-list-page-item-header

    .float-right
    .questions
      .questions-list-item
        %question-header(question="ctrl.question")
        %question-content(question="ctrl.question")


hello
