.question__leftbox {
  background-color: $main-blue;
  width: 15%;
}
.question__content {
  width: 60%;
  line-height: 1.4;
  padding: remCalc(20px);
  padding-right: remCalc(0px);
}

@media all and (max-width: 640px) {
  .question__leftbox {
    display: none;
  }
  .question__content {
    width: 100%;
    padding: remCalc(10px);
    display: table-cell;
  }
}
