.question-container
  .question__leftbox
  .question__content {{$ctrl.question.content}}
  %voting.voting-container(votes="$ctrl.question.points")
%button.questions-list-item-button
  %span Give&nbsp;
  new answer
