.questions__item {
  display: inline-block;
  width: 80%;
}

.info {
  display: inline-block;
  vertical-align: bottom;
  width: 20%;
  p {
    margin: remCalc(5px);
    margin-left: remCalc(20px);
    line-height: 4;
  }
  strong {
    font-size: remCalc(20px);
  }
}
@media all and (max-width: 992px) {
  .info {
    width: 35%;
  }
}
@media all and (max-width: 640px) {
  .info {
    width: 50%;
    font-size: $font-small;
    padding-top: remCalc(20px);
    p {
      line-height: 3;
    }
  }
}
