.questions__item {
  @include display(inline-block);
  width: 80%;
}
.questions__item__header {
  background-color: #aae7ff;
}
.info {
  @include display(inline-block);
  background-color: yellow;
  vertical-align: bottom;
  width: 20%;
  p {
    margin: remCalc(5px);
    margin-left: remCalc(20px);
  }
}
