.questions__item {
  @include display(inline-block);
  width: 80%;
}
.questions__item__header {
  @include display(flex);
  background-color: $main-blue;
  width: 80%;
  align-items: center;
  h2 {
    margin: 0;
    margin-bottom: remCalc(20px);
    color: $link-color;
    font-style: italic;
  }
  p {
    margin: 0;
  }
  span {
    text-transform: uppercase;
    font-size: $font-small;
    color: $text-lighter;
  }
}
.questions__item__header__avatar {
  width: 15%;
  vertical-align: middle;
  .avatar {
    margin-bottom: remCalc(0px);
  }
}
.questions__item__header__title {
  @include display(inline-block);
  vertical-align: middle;
  padding-top: remCalc(15px);
  width: 85%;
}
.info {
  @include display(inline-block);
  vertical-align: bottom;
  width: 20%;
  p {
    margin: remCalc(5px);
    margin-left: remCalc(20px);
    line-height: 4;
  }
  strong {
    font-size: remCalc(20px);
  }
}
.questions__item__header__title {
  width: 60%;
}


@media all and (max-width: 992px) {
  .questions__item__header {
    width: 100%;
  }
  .info {
    width: 35%;
  }
}
@media all and (max-width: 640px) {
  .info {
    width: 50%;
  }
}
