
.questions__item__header
  .questions__item__header__avatar
    .avatar
      %img(ng-src="{{$ctrl.question.author.avatar}}")
  .questions__item__header__title
    %a(ng-href="/question/:id") {{$ctrl.question.author.name}}&nbsp;
    %span is asking:
    %h2 {{$ctrl.question.title}}
.activities__container
  %activities.activities(activities="$ctrl.question.activities")

  .info
    %p
      %strong {{$ctrl.question.related_discussions}}&nbsp;
      related discussions
    %p
      %strong {{$ctrl.question.peers_involved}}&nbsp;
      peers involved
    %p
      %strong {{$ctrl.question.conversations}}&nbsp;
      conversations
