%question-header(question="$ctrl.question")
.activities__container
  %activities.activities(activities="$ctrl.question.activities")

  .info
    %p
      %strong {{$ctrl.question.related_discussions}}&nbsp;
      related discussions
    %p
      %strong {{$ctrl.question.peers_involved}}&nbsp;
      peers involved
    %p
      %strong {{$ctrl.question.conversations}}&nbsp;
      conversations
