.comment__container {
  margin-top: remCalc(30px);
  box-shadow: 0px -3px 7px -1px #a7a9ac;
  border-bottom: 1px solid #f4f4f4;
  position: relative;

  .questions__item__header__title {
    padding-left: remCalc(20px);
    padding-bottom: remCalc(40px);
    width: 60%;
  }

}
.voting-container {
  width: 20%;
  text-align: right;
}
.comment__container,
.initial__comment {
  .questions__item__header {
    background-color: $color-light;
    width: 100%;
    align-items: center;
  }
  .questions__item__header__title {
    border-left: 1px solid #f4f4f4;
  }
}
.comment__header {
  margin-bottom: remCalc(20px);
}
.initial-comment-container {
  position: relative;
}
.initial__comment {
  @include display(flex);
  justify-content: flex-end;
  .voting-container {
    width: 19%;
  }
  .questions__item__header {
    width: 85%;
    background-color: $color-light;
    border: 1px solid #f4f4f4;
    box-shadow: 1px 0px 7px -2px #a7a9ac;
  }
  .questions__item__header__title {
    width: 60%;
    padding-bottom: remCalc(40px);
  }
}
.for-mobile {
  display: none;
}
.for-screen {
  display: inline-block;
}
@media all and (max-width: 992px) {
  .initial__comment .questions__item__header {
    width: 86%;
  }
}
@media all and (max-width: 640px) {
  .comment__header {
    padding: remCalc(10px);
    border-bottom: 1px solid #f4f4f4;
  }

  .comment__container .questions__item__header__title {
    padding: remCalc(0px);
    width: 100%;
  }
  .comment__container .questions__item__header {
    display: block;
    width: 100%;
    p {
      padding: remCalc(0px) remCalc(10px);
    }
  }
  .initial__comment .questions__item__header {
    width: 97%;
    display: block;
  }
  .initial__comment {
    background-color: #a7a9ac;
  }
  .initial__comment .questions__item__header__title {
    width: 100%;
    padding: 0;
  }
  .for-screen {
    display: none;
  }
  .for-mobile {
    display: inline-block;
  }
  .comment__container .questions__item__header__avatar,
  .initial__comment .questions__item__header__avatar {
    &:before {
      display: none;
    }
  }
}
