.container
  %p.center 2 peers already answered
  %div
    .comment__container
      .questions__item__header
        .questions__item__header__avatar
          .avatar
            %img(ng-src="rose.jpg")
        .questions__item__header__title
          .comment__header
            %a Agnieszka Bugajska&nbsp;
            %span commented it&nbsp;&#183;&nbsp;
            %small yesterday
          %p lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor.
        %voting(votes="$ctrl.question.points")
    .initial__comment
      .questions__item__header
        .questions__item__header__avatar
          .avatar
            %img(ng-src="rose.jpg")
        .questions__item__header__title
          .comment__header
            %a Agnieszka Bugajska&nbsp;
            %span commented it&nbsp;&#183;&nbsp;
            %small yesterday
          %p lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor.
        %voting(votes="$ctrl.question.points")
    .comment__container
      .questions__item__header
        .questions__item__header__avatar
          .avatar
            %img(ng-src="rose.jpg")
        .questions__item__header__title
          .comment__header
            %a Agnieszka Bugajska&nbsp;
            %span commented it&nbsp;&#183;&nbsp;
            %small yesterday
          %p lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor.
        %voting(votes="$ctrl.question.points")
