.container
  %p.divider.center
    %strong 2&nbsp;
    peers already answered
  %div
    .comment__container
      .questions__item__header
        .questions__item__header__avatar.for-screen
          .avatar
            %img(ng-src="rose.jpg")
        .questions__item__header__title
          .comment__header
            .questions__item__header__avatar.for-mobile
              .avatar
                %img(ng-src="rose.jpg")
            %a Agnieszka Bugajska&nbsp;
            %span commented it&nbsp;&#183;&nbsp;
            %small yesterday
          %p lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor.
        %voting(votes="$ctrl.question.points")
    .initial-comment-container
      .initial__comment
        .questions__item__header
          .questions__item__header__avatar.for-screen
            .avatar
              %img(ng-src="rose.jpg")
          .questions__item__header__title
            .comment__header
              .questions__item__header__avatar.for-mobile
                .avatar
                  %img(ng-src="rose.jpg")
              %a Agnieszka Bugajska&nbsp;
              %span commented it&nbsp;&#183;&nbsp;
              %small yesterday
            %p lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor.
          %voting(votes="$ctrl.question.points")
        %button.questions-list-item-button
          %span Continue&nbsp;
          discussion
    .initial-comment-container
      .comment__container
        .questions__item__header
          .questions__item__header__avatar.for-screen
            .avatar
              %img(ng-src="rose.jpg")
          .questions__item__header__title
            .comment__header
              .questions__item__header__avatar.for-mobile
                .avatar
                  %img(ng-src="rose.jpg")
              %a Agnieszka Bugajska&nbsp;
              %span commented it&nbsp;&#183;&nbsp;
              %small yesterday
            %p lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor.
          %voting(votes="$ctrl.question.points")
        %button.questions-list-item-button
          %span Comment
