.questions-list-page-item-header
  .container
    %h2.main-header.text-inlineb QUESTIONS
    .float-right
      %sort.sort
    .search-container
      %search.search(search="ctrl.searchQuestion")
.questions-list-page
  %list(questions="ctrl.questions" search="ctrl.searchQuestion")
