.questions-list-page
  .questions-list-page-item-header
    %h2.main-header.text-inlineb QUESTIONS
    .float-right
      %sort.sort
  %search.search(questions="ctrl.questions")
  %list(questions="ctrl.questions")
