.questions {
  list-style: none;
  padding: 0;
  margin-top: remCalc(0px);
  box-shadow: 0px -3px 7px -1px #a7a9ac;
}

.questions-list-item {
  width: 100%;
  position: relative;
  padding-bottom: remCalc(30px);
  border-bottom: 1px solid #f4f4f4;
}

.questions-list-page-item-header {
  padding: remCalc(40px) remCalc(0px);
  background-color: $color-light;
  border-bottom: 1px solid #f4f4f4;
}
