.questions {
  list-style: none;
  padding: 0;
}

.questions-list-item {
  width: 100%;
  border-bottom: 1px solid $color-dark;
  padding-bottom: remCalc(30px);
}

.questions-list-page-item-header {
  margin-bottom: remCalc(20px);
}
