.questions {
  list-style: none;
  padding: 0;
  margin-top: remCalc(0px);
  box-shadow: 1px 0px 5px 0px $text-lighter;
}

.questions-list-item {
  width: 100%;
  position: relative;
  border-bottom: 1px solid $text-lighter;
  padding-bottom: remCalc(30px);
}

.questions-list-page-item-header {
  padding: remCalc(40px) remCalc(0px);
  background-color: $color-light;
  border-bottom: 1px solid #f4f4f4;
}
