%ul.questions
  %li.questions-list-item(ng-repeat="question in $ctrl.questions | orderBy: $ctrl.sort : true | filter: $ctrl.search | limitTo: $ctrl.limit")
    %question(question="question")
%button.load-more-btn(ng-click="$ctrl.loadMore()" ng-show="$ctrl.limit<=$ctrl.questions.length") load more questions
