%html
  %head
    %title Questions app
    %link(rel="stylesheet" href="/application.css")
    %meta(content="width=device-width, initial-scale=1" name="viewport")
  %body(ng-app="app")
    %base(href="/")
    %ui-view

    %script(src="libs.js")
    %script(src="templates.js")
    %script(src="bundle.js")
