%html
  %head
    %title Questions app
    %link(rel="stylesheet" href="application.css")
  %body(ng-app="app")
    %base(href="/")
    %ui-view

    %script(src="libs.js")
    %script(src="templates.js")
    %script(src="bundle.js")
