body {
  background-color: #fbfbfb;
}
.questions-list-page {
  @include display(flex);
  max-width: remCalc(1200px);
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
}

.avatar {
  overflow: hidden;
  position: relative;
  height: remCalc(45px);
  width: remCalc(45px);
  margin: 0 auto;
  border-radius: 50%;
  img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    min-width: 100%;
  }
}

a {
  color: $link-color;
  text-decoration: none;
}

.load-more-btn {
  background-color: $color-light;
  color: #e1173f;
  border: none;
  font-weight: 600;
  font-size: $font-bigger;
  &:hover {
    cursor: pointer;
  }
}
