body {
  background-color: #fbfbfb;
  margin: 0;
  padding: remCalc(0px) remCalc(5px);
  padding-bottom: remCalc(50px);
}
.questions-list-page {
  @include display(flex);
  max-width: remCalc(1200px);
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
}
.container {
  max-width: remCalc(1200px);
  margin: 0 auto;
}
.divider {
  margin-top: remCalc(60px);
  margin-bottom: remCalc(0px);
  font-style: italic;
  font-size: $font-bigger;
}
.link-back {
  border: 1px solid #b1b3b6;
  position: relative;
  width: remCalc(40px);
  height: remCalc(40px);
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: remCalc(20px);
  &:before, &:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: remCalc(4px);
  }
  &:before {
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right:20px solid #b1b3b6;
    left: remCalc(7px);
  }
  &:after {
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right:20px solid $color-light;
    left: remCalc(8px);
  }
}
.avatar {
  overflow: hidden;
  position: relative;
  height: remCalc(45px);
  width: remCalc(45px);
  margin: 0 auto;
  border-radius: 50%;
  img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    min-width: 100%;
  }
}

a {
  color: $link-color;
  text-decoration: none;
}

.load-more-btn {
  background-color: $color-light;
  color: #e1173f;
  border: none;
  font-weight: 600;
  font-size: $font-bigger;
  &:hover {
    cursor: pointer;
  }
}
